.comments-box {
	@include span-columns(12);
	margin: 0;
  background: $white;
  border-radius: 0;
  padding: 10px 25px 20px 25px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 0px;
  margin-top: 10px;

  .comment {
  	width: 100%;
  }


}

@include MQ(M) {
	.comments-box {
		@include span-columns(8);
  	@include shift(2);
	}
}


/*
<% @comments.each do |comment| %>
	<div class="comment">

		<div class="comment-name">
			<span><%= comment.user.name %></span> -
			<span class="date" ><%= time_ago_in_words(comment.created_at) %> ago</span>
		</div>
			<%= comment.body %>
	</div>
<% end %>

	<div class="comments-box">
		<%= render 'comments/form' %>
		<%= render 'comments/comments' %>
	</div>*/