/* -------------------------------- 

Header 

-------------------------------- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height-S;
	background: $white;
	box-shadow: 0 1px 3px rgba(#000, .2);
	z-index: index($elements, navigation);
	@include clearfix;

	#logo {
	  float: left;
	  margin: 5px 0 0 12px;
	  position: absolute;

		a {
			diaplay: block;
			color: $color-3;
			font-size: 1.5em;
		}
	}

	.search-bar {
    $search-bar-border-color: $color-3;
    $search-bar-border: 1px solid $border;
    $search-bar-background: lighten($search-bar-border-color, 10%);

	  margin-top: 10px;
	  width: 100%;
	  position: absolute;
	  margin-left: 62px;
    padding-right: 170px;

    form {
      position: relative;

      input[type=search] {
        @include box-sizing(border-box);
        background: $background;
        border-radius: 4px;
        border: 1px solid $border;        
        color: $color-3;
        font-size: 0.9em;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        
      }

      button[type=submit] {
        background: $background;
        border: none;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }
  }

  .nav-user-group {
	  width: 45px;
	  position: absolute;
	  right: 56px;
	  top: 5px;
	  cursor: pointer;

		img {
			  width: 35px;
			  border-radius: 50%;
			  margin-top: 3px;
				@include clearfix;
		}

		@include MQ(M) {
			width: 120px;
		}
	}

  .nav-bell {
	  width: 50px;
	  height: 100%;
	  background: url("bell.svg") no-repeat center center;
	  background-size: 22px 22px;
	  background-color: $background;
	  cursor: pointer;
	  position: absolute;
	  right: 0;
	  top: 0;
  }

  .nav-name {
  	display: none;
  }

  @include MQ(M) {
		.search-bar {
			padding-right: 250px;
		}

		.nav-name {
			  display: inline-block;
			  position: absolute;
			  top: 2px;
			  margin-left: 16px;
		}
	}
}

	/* end left side divs */


.main-nav {
	
	ul {
		z-index: index($elements, navigation);
		position: absolute;
		padding-left: 0;
		margin-top: 0;
		top: 0;
		right: 0;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
		width: 100%;
		@include transform(translateY(-100%));

		&.is-visible {
			@include transform(translateY($header-height-S));
		}
	}

	a {
		display: block;
		height: $header-height-S;
		line-height: $header-height-S;
		padding-left: 5%;
		background: $background;
		border-top: 1px solid lighten($background, 3%);
		color: $color-3;

		&:hover {
			color: lighten($color-3, 10%);
		}
	}

	@include MQ(M) {
		width: auto;
		height: auto;
		background: none;
		cursor: auto;

		ul {
			width: 300px;
			right: 50px;
			@include transform(translateY(-100%));

			&.is-visible {
				@include transform(translateY($header-height-S));
			}
		}
	}
}












