.posts-container {
  margin: 0;
  width: 300px;
  background: $white;
  border-radius: 0;

  img {
    width: 100%;
    height: auto;
  }

  .posts-avatar {
    float: left;
    margin-right: 13px;

    img {
      width: 35px;
      border-radius: 50%;
    }
  }

  .posts-body {
    padding: 5px 10px 20px 10px;
  }

  .posts-content {
    @include font-size(13px);
    color: darken($border, 25%);
    margin-bottom: 12px;
  }

  .posts-name {
    @include font-size(14px);
    color: $color-3;
    font-weight: bold;
  }

  .posts-tags {
    @include font-size(13px);
    color: darken($border, 25%);
  }
}