#intro {
	position: relative;
	height: $intro-height-S;
	margin-top: $header-height-S;
	z-index: index($elements, posts);

	#intro-background {
		height:100%;
		width: 100%;
		background: url('ocean_coast.jpg') no-repeat center center;
		background-size: cover;
	}
}