<section id="intro">
	<div id="intro-background">
		<div id="intro-user-info" class="glass">

			<div class="left-info">
				<div class="intro-user-avatar">
					<%= image_tag(@user.avatar.url(:thumb)) %>
				</div>
				<ul>
					<li class="intro-user-name"><%= @user.name %></li>
					<li class="intro-user-follow"><%= render 'follow_form' if user_signed_in? %></li>
				</ul>
			</div>

			<div class="right-info">
				<ul>
					<li>
						<div class="right-stats">900</div>
						<div class="small">Followers</div>
					</li>
					<li>
						<div class="right-stats">500</div>
						<div class="small">Following</div>
					</li>
					<li>
						<div class="right-stats">300</div>
						<div class="small">Posts</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</section>

<%= render 'users/posts' %>





