/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font: {
		size: 100%;
		family: $primary-font;
	}
	color: $color-3;
	background-color: $background;
}

a {
	text-decoration: none;
}

.container {
	/*@include outer-container(100%);*/
}

.avatar-small {
	img {
		width: 35px;
		border-radius: 50%;
	}
}

