// colors

$background: #f5f5f5; // body background color
$border: #d4d4d4; // grey border
$color-1: #03bb91; // teal
$color-2: #f0f1e7; // cream
$color-3: #444;; // grey text
$white:   #fff; //white

$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$background: #f5f5f5;
$background-border: 1px solid #e3e3e3;

// Added Colors
$purple: #435779;
$dark-blue: #435779;


//header height

$header-height-S: 50px;
$header-height-M: 70px;

//intro height

$intro-height-S: 300px;
$intro-height-M: 400px;
$intro-height-L: 500px;

// fonts 

$primary-font: 'Ubuntu', sans-serif;

//z-index - order the elements from the lowest z-index(left) to the highest(right)

$elements: posts, main-content, navigation;



// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-background-color: #F6F8FA;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: #d3d3d3;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
