<div class="vote">
	<%= link_to like_post_path(post), method: :put, class: 'up' do %>
	<span><i class="fa fa-chevron-up"></i></span>
	<% end %>
	<%= link_to dislike_post_path(post), method: :put, class: 'down' do %>
		<span><i class="fa fa-chevron-down"></i></span>
	<% end %>
	<span><%= @post.get_upvotes.size %> points</span>
</div>