/* -------------------------------- 

Header 

-------------------------------- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height-S;
	background: $color-1;
	box-shadow: 0 1px 3px rgba(#000, .2);
	z-index: index($elements, navigation);
	@include clearfix;

	#logo {
		float: left;
		margin: 5px 0 0 1%;

		a {
			diaplay: block;
			color: $color-3;
			font-size: 1.5em;
		}
	}

	.search-bar {
    $search-bar-border-color: $color-3;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: left;
    margin-top: 10px;
		margin-left: 16px;
    width: 60%;

    form {
      position: relative;

      input[type=search] {
        @include box-sizing(border-box);
        background: $background;
        border-radius: 4px;
        border: 4px;
        color: $color-1;
        font-size: 0.9em;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        
      }

      button[type=submit] {
        background: $background;
        border: none;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }
  }
}

	/* end left side divs */


.main-nav {
	float: right;
	margin-right: 0;
	width: 44px;
	height: 100%;
	background: url('bell.svg') no-repeat center center;
	background-size: 22px 22px;
	background-color: red; 
	cursor: pointer;

	ul {
		position: absolute;
		padding-left: 0;
		margin-top: 0;
		top: 0;
		left: 0;
		width: 100%;
		@include transform(translateY(-100%));

		&.is-visible {
			@include transform(translateY($header-height-S));
		}
	}

	a {
		display: block;
		height: $header-height-S;
		line-height: $header-height-S;
		padding-left: 5%;
		background: $background;
		border-top: 1px solid lighten($background, 3%);
		color: $white;
	}

	@include MQ(M) {
		width: auto;
		height: auto;
		background: none;
		cursor: auto;

		ul {
			position: static;
			width: auto;
			@include transform(translateY(0));
			line-height: $header-height-M;

			&.is-visible {
				@include transform(translateY(0));
			}
		}

		li {
			display: inline-block;
			margin-left: 1em;
		}

		a {
			display: inline-block;
			height: auto;
			line-height: normal;
			background: transparent;
			padding: .6em 1em;
			border-top: none;
			@include font-size(13px);
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}












