/*#masonry-container {
  margin: 0 auto;
  width: 100%;

  .posts-container {
    margin: 10px;
    width: 350px;
    border-radius: 4px;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}*/

#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


