<div class="bigbox">
	<div class="box">
		<%= image_tag(@post.image.url) %>
		<div class="posts-body">
			<p class="posts-content"><%= @post.content %></p>
			<p>
				<span class="posts-avatar"><%= image_tag(@post.user.avatar.url(:thumb)) %></span>
				<span class="posts-name">
					<%= @post.user.name %>
					<p class="posts-tags">tags</p>
				</span>
			</p>
		</div>
	</div>
</div>
