<header>
	<div id="logo"><%= link_to "logo", root_path %></div>
		
	<nav class="main-nav">
		<ul>
			<li>search bar</li>
			<li>profile image</li>
			<li>user name</li>
			<li>notification icon</li>
		</ul>
	</nav>
</header>